name: Tests

on: [push, pull_request]

jobs:
  unit_tests:
    name: unit tests
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04]
        rev: [nightly, v0.10.0]

    steps:
      - uses: actions/checkout@v4

      - uses: rhysd/action-setup-vim@v1
        with:
          neovim: true
          version: ${{ matrix.rev }}

      - name: Prepare plenary.nvim
        run: |
          git clone --depth 1 https://github.com/nvim-lua/plenary.nvim ../plenary.nvim

      - name: Run tests
        run: |
          nvim --version
          make test

  lint:
    name: stylua
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4

      - name: Install stylua
        run: |
          cargo install stylua

      - name: Check formatting
        run: |
          make lint
